#das {
font-weight : bold;
font-style : italic;
text-decoration : underline;
font-size : 5px;
color : blue;
font-family : Times New Roman;
text-align : left;
padding-top : 0px;
padding-right : 0px;
padding-left : 0px;
padding-bottom : 4px;
}
#das {
font-weight : bold;
font-style : italic;
text-decoration : underline;
font-size : 5px;
color : blue;
font-family : Times New Roman;
text-align : left;
padding-top : 0px;
padding-right : 0px;
padding-left : 0px;
padding-bottom : 4px;
}
#das {
font-weight : bold;
font-style : italic;
text-decoration : underline;
font-size : 18px;
color : blue;
font-family : Times New Roman;
text-align : left;
padding-top : 0px;
padding-right : 0px;
padding-left : 0px;
padding-bottom : 4px;
}

